/* some style */


.navbar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background-color: #447AE8;
  border: 0px;
  border-radius: 0;
}


.nodesbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    height: 200px;
    background-color: light-grey;
    border-bottom: thick solid black;
}

.ready {
    color: orange;
}

.not-ready {
    background-color: red;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container > div#ready {
  background-color: #f1f1f1;
  margin: 5px;
  padding: 5px;
  font-size: 18px;
  color: blue;
}

.flex-container > div#not-ready {
  background-color: #f1f1f1;
  margin: 5px;
  padding: 10px;
  font-size: 20px;
  color: red;
}

